@import "/styles/global.scss";
.headerWrap {
  display: flex;
  // flex-wrap: wrap;
  margin: 45px 0 auto;
  justify-content: space-between;
  align-items: center;

  @media only screen and (max-width: $tab) {
    margin: 25px 0 auto;
    flex-direction: column;
    row-gap: 20px;
  }
}

.navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 40px;
  align-items: center;
  color: $black;
  column-gap: 15px;
  row-gap: 5px;

  @media only screen and (max-width: $tab) {
    row-gap: 15px;
  }

  li {
    list-style: none;
    font-size: 18px;
    text-align: center;
    align-items: baseline;

    a {
      white-space: nowrap;

      &:hover {
        color: $black_light;
      }
    }
  }
}

.contacts {
  display: flex;
  flex-direction: column;
  margin-top: 10px;

  a {
    white-space: nowrap;

    &:not(:first-child) {
      margin-top: 5px;
    }
  }
}

.languagesWrap {
  display: flex;
  margin: 0 auto;
}

.languages {
  margin: 20px auto 0;
  display: flex;
  justify-content: center;
  background-color: #1385a1;
  border-radius: 5px;

  li {
    background-color: #1385a1;
    list-style: none;
    transition: all 0.3s linear;
    padding: 10px 20px;
    border-radius: 5px;

    &.activeLanguager {
      background-color: $blue;
    }

    a:hover {
      color: $black_light;
    }
  }
}

.main {
  margin-top: 30px;
}

.mainBackround {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(/images/backgrond_1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 150px 0;
}

.fotoInGlassText {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  color: $white;

  h2 {
    font-size: 64px;

    @media only screen and (max-width: $mob) {
      font-size: 30px;
    }
  }

  p {
    font-size: 20px;
    margin-top: 15px;
  }
}

.slider {
  display: flex;
  align-items: center;
  width: 500px;
}

.slide {
  // background-color: #000000;
  color: #000000;
  background-color: #000000;
}

.slide2 {
  background-color: #d10000;
}

.slide3 {
  background-color: aqua;
}

.sliderWrap {
  margin-top: 50px;
  [class~="image-gallery-image"] {
    @media only screen and (max-width: $tab) {
      max-height: 500px !important;
    }
  }
}

.aboutUs {
  margin: 120px auto 0;
  display: flex;
  column-gap: 80px;
  justify-content: center;

  @media only screen and (max-width: $tab) {
    flex-direction: column;
  }
}

.aboutUsTextWrap {
  width: 100%;
  max-width: 550px;
  margin: 0 auto;

  @media only screen and (max-width: $tab) {
    margin: 40px auto 0;
  }
}

.subTitle {
  font-size: 20px;
  color: $black;
}

.imageWrap {
  width: 100%;

  @media only screen and (max-width: $tab) {
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }
}

.aboutUsSpecial {
  margin-top: 10px;
  font-size: 48px;
  font-weight: bold;

  @media only screen and (max-width: $mob) {
    font-size: 30px;
  }
}

.aboutUsDescr {
  margin-top: 20px;
  font-size: 20px;
}

.advantages {
  margin-top: 40px;
  display: flex;
  column-gap: 80px;

  @media only screen and (max-width: $mob) {
    flex-direction: column;
  }

  li {
    list-style: none;
    display: flex;
    flex-direction: column;
    row-gap: 20px;

    @media only screen and (max-width: $mob) {
      justify-content: center;
      margin: 0 auto;
      align-items: center;
      text-align: center;
    }

    span {
      font-size: 24px;
    }

    p {
      font-size: 14px;
    }
  }
}

.callUsButton {
  margin-top: 40px;
  font-size: 18px;
  width: 100%;
  padding: 16px 0;
  color: $white;
  background-color: $blue;
  border: none;
  transition: all 0.2s linear;
  border-radius: 5px;

  &:hover {
    background-color: $blueDark;
  }
}
